html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
#Home {
  background-image: url("/backgrounds/Home.jpg");
  background-size: 100vw 100vh;
  background-position: center;
  background-repeat: no-repeat;
}
#Tokenomeme {
  background-image: url("/backgrounds/Tokenomeme.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
#Tablet {
  background-image: url("/backgrounds/tablet.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
/* .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  background: transparent;
  border-radius: 14px;
  box-shadow: unset !important;
  border: double 4px transparent;
  border-radius: 12px;
  background-image: linear-gradient(#25273e, #25273e),
    linear-gradient(to right top, #823aff, #ffe500, #fb8e00);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  overflow: hidden;
} */
