html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
#Home {
  background-image: url("/backgrounds/Home.jpg");
  background-size: 100vw 100vh;
  background-position: center;
  background-repeat: no-repeat;
}
#Tokenomeme,
#Laugh_To_Earn,
#Multichain_Meme_Coin,
#Multichain_Troll_Dao,
#Meme_NFT_Marketplace,
#Memeology420,
#Video_Presentation,
#Slider {
  background-image: url("/backgrounds/Tokenomeme.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: fill;
}
#Laugh_To_Earn {
  background-image: url("/backgrounds/Laugh_To_Earn.jpg");
}
#Multichain_Meme_Coin {
  background-image: url("/backgrounds/Multichain_Meme_Coin.jpg");
}
#Multichain_Troll_Dao {
  background-image: url("/backgrounds/Multichain_Troll_Dao.jpg");
}
#Meme_NFT_Marketplace {
  background-image: url("/backgrounds/Meme_NFT_Marketplace.jpg");
}
#Memeology420 {
  background-image: url("/backgrounds/Memeology420.jpg");
}
#Video_Presentation {
  background-image: url("/backgrounds/Video_Presentation.png");
}
#Slider {
  background-image: url("/backgrounds/slider.jpg");
}
#SliderNFT {
  background-image: url("/backgrounds/SliderNFT.jpg");
}
#Tablet {
  background-image: url("/backgrounds/tablet.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.AddBorder {
  border-radius: 14px !important;
  border: double 4px transparent !important;
  background-image: linear-gradient(#25273e, #25273e),
    linear-gradient(to right top, #823aff, #ffe500, #fb8e00) !important;
  background-origin: border-box !important;
  background-clip: padding-box, border-box !important;
}
.AddBorderToCard,
.FlipCard {
  border-radius: 4px !important;
  border: double 3px transparent !important;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)),
    linear-gradient(to right top, #823aff, #ffe500, #fb8e00) !important;
  background-origin: border-box !important;
  background-clip: padding-box, border-box !important;
}
.FlipCard {
  border-radius: 4px !important;
}
.FlipCardBGTransparent {
  background-image: linear-gradient(
      rgb(255, 255, 255, 0),
      rgb(255, 255, 255, 0)
    ),
    linear-gradient(to right top, #823aff, #ffe500, #fb8e00) !important;
}
.GradientText {
  background: -webkit-linear-gradient(236.69deg, #fb8e00 6.11%, #823aff 97.1%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 900px) {
  #Home {
    background-size: cover !important;
  }
  .AddBorderToToken {
    min-height: 100vh;
  }
  #Tokenomeme {
    background-image: unset;
    background-color: white;
  }
}

